*,
*::before,
*::after {
  box-sizing: border-box;
}
// general styles, typeography, utilities, sitewide, store pages

$colors: (
  bg: #f5f5f5,
  grey-light: #c2c2c2,
  grey-medium: #858687,
  grey-dark: #4a4a4a,
  dark: #302e2e,
  accent: #2187ff,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$desktop: 1000px;
$desktop-margin: 10vw;
$nav-height: 3rem;
$text-small: 0.8rem;

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-color: color(bg);
}

h1,
h2,
h3 {
  font-weight: 400;
}
a {
  text-decoration: none;
  color: black;
  transition-duration: 0.3s;
}

button {
  border: none;
  text-decoration: none;
  background-color: color(bg);
  border: 1px dashed pink;
  cursor: pointer;
  transition-duration: 0.3s;
  &:hover {
    color: color(grey-medium);
  }
}

.active {
  color: color(grey-medium);
}

.hide {
  display: none;
}

nav {
  height: $nav-height;
  background-color: color(bg);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  // justify-content: space-between;
  align-items: center;
  padding: 0 $desktop-margin;
  // text-transform: uppercase;
  font-size: $text-small;

  .nav-main {
    text-align: center;
    a {
      text-decoration: none;
      // color: color(dark);
      margin: 0 1rem;

      &:hover:not(.active) {
        color: color(grey-medium);
      }
    }
  }
  form {
    text-align: right;
    input {
      background-color: color(bg);
      border: solid 1px color(grey-light);
      border-radius: 10px;
      outline: none;
      padding: 0 1rem;
    }
  }
}

.filter-container {
  margin: 0 $desktop-margin;
  font-size: $text-small;
  button {
    font-size: $text-small;
  }
  .filter-top {
    display: flex;
    height: $nav-height;
    margin-top: 1rem;
    border-bottom: 1px solid color(grey-light);
    .filter-categories {
      display: flex;
      flex: 1;
      align-items: center;
      p {
        color: color(grey-medium);
      }
    }
    .filter-applied {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      button:first-of-type {
        color: color(grey-dark);

        &:hover {
          color: color(grey-medium);
        }
      }
      .applied-filter-btn {
        position: relative;
        color: color(grey-medium);
        span {
          display: inline-block;
          position: relative;
          height: 10px;
          width: 10px;
          transition: transform 0.3s ease;
          transform-origin: center center;
          &::before,
          &::after {
            content: '';
            height: 10px;
            width: 1px;
            background-color: color(grey-medium);
            position: absolute;
            right: 50%;
          }
          &::before {
            transform: rotate(45deg);
          }
          &::after {
            transform: rotate(-45deg);
          }
        }
        &:hover {
          color: color(grey-light);
          transition-duration: 0.5s;
          span {
            transform: translate(3px, 1px) rotate(90deg);
            &::before,
            &::after {
              background-color: color(grey-light);
            }
          }
        }
      }
    }
  }
  .filter-bottom {
    height: 3 * $nav-height;
    text-align: center;
    p {
      margin: 0;
      padding: 2rem 0 1rem 0;
    }
    .filter-options {
      button {
        border: 1px solid color(grey-medium);
        border-radius: 15px;
        padding: 0.25rem 1rem;
        margin: 0 0.25rem;
        &:hover,
        &.active {
          border-color: color(grey-light);
        }
      }
    }
  }
}

.content {
  margin: 0 $desktop-margin;
  h1 {
    text-align: center;
    font-size: 2rem;
    margin: 0 0 2rem 0;
  }
  .recipe-thumbnail {
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    article {
      a {
        &:hover {
          img {
            transform: scale(1.05);
          }
          h2 {
            color: color(grey-dark);
          }
        }
        .img-zoom {
          position: relative;
          overflow: hidden;
          img {
            max-width: 100%;
            height: auto;
            transition: transform 0.5s ease; /* Animation */
            display: block;
          }
        }
        p {
          font-size: $text-small;
          color: color(grey-medium);
          margin: 0.5rem 0;
        }
        h2 {
          margin: 0 0 1rem 0;
          transition-duration: 0.3s;
        }
      }
    }
  }
}

// Recipe single page ------------------------
.recipe-container {
  margin: 0 $desktop-margin;
  header,
  section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: $nav-height;
  }
  header {
    border-bottom: 1px solid color(grey-light);
    padding: $nav-height/2 0;
    .recipe-image-container {
      height: 10rem;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .intro {
      height: 10rem;
      h1 {
        margin: 0;
      }
      h1 + p {
        margin: 0.5rem 0 1rem 0;
      }
      .info {
        display: flex;
        flex-direction: row;
        div {
          display: flex;
          flex-direction: row;
          .fact {
            margin-right: 2rem;
            display: block;
          }
          // :last-child {
          //   margin-right: 0;
          // }
        }
      }
    }
  }
  section {
    margin: 0;
    border-bottom: 1px solid color(grey-light);

    h2 {
      margin: 0 0 1rem 0;
    }
    h3 {
      color: color(grey-medium);
      font-size: 0.9rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin: 1rem 0 0.25rem 0;
    }
    ul,
    ol {
      margin: 0.25rem 0;
    }
  }
}

.fact {
  p {
    text-align: center;
    margin: 0;
  }
  .fact-title {
    color: color(grey-medium);
    margin-bottom: 0.5rem;
  }
  input {
    width: 3.2rem;
    outline: none;
    border: none;
    background-color: color(bg);
    text-align: center;
    font-size: 1rem;
  }
}

.ingredients-container {
  $marker-width: 1.3rem;
  padding: $nav-height/2 0;
  ul {
    padding-left: $marker-width;
    list-style: none;
    li {
      position: relative;
    }
    li::before {
      content: '\2610';
      position: absolute;
      left: -$marker-width;
    }
    li.complete::before {
      content: '\2611';
    }
  }
}

.instructions-container {
  padding: $nav-height/2 0;
  ol {
    padding: 0;
  }
}
.notes-container {
  h2 {
    margin: $nav-height/2 0 0 0;
  }
  p {
    margin: 0.5rem 0;
  }
  .tags-container {
    margin: 1rem 0;
    span {
      margin: 0 0.5rem 0 0;
      padding: 0.25rem 0.5rem;
      border: 1px solid color(grey-light);
      border-radius: 25px;
      color: color(grey-medium);
      font-size: $text-small;
      text-transform: uppercase;
    }
  }
}

@media (max-width: #{$desktop}) {
}
