*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --site-margin: 10vw;
  --site-margin-half: 2rem;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f5f5;
  margin-bottom: 1rem;
}

h1,
h2,
h3 {
  font-weight: 400;
}

h1 {
  font-size: 2rem;
  letter-spacing: 1px;
}

h2 {
  font-size: 1.3rem;
  letter-spacing: 0.5px;
}

h3 {
  font-size: 0.9rem;
  color: #818181;
  text-transform: uppercase;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: black;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

button {
  border: none;
  text-decoration: none;
  background-color: #f5f5f5;
  border: 1px dashed pink;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

button:hover:not(.active):not(.active-underline) {
  color: #c2c2c2;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.img-container {
  position: relative;
  overflow: hidden;
}

.active {
  color: #2187ff;
}

.active-underline {
  border-bottom: 2px solid #2187ff;
}

.hide {
  display: none !important;
}

nav {
  height: 4rem;
  padding: 0 var(--site-margin);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #c2c2c2;
}

nav .logo {
  font-size: 1.4rem;
  text-transform: uppercase;
  margin-right: 1.2rem;
}

@media (max-width: 900px) {
  nav .logo {
    display: none;
  }
}

nav a {
  margin-right: 0.8rem;
  letter-spacing: 0.5px;
}

nav a:hover:not(.logo):not(.active-underline) {
  color: #818181;
}

nav a:not(.logo) {
  padding: 0 0.2rem;
}

nav a:last-child {
  margin-right: 0;
}

@media (max-width: 600px) {
  nav a {
    font-size: 0.8rem;
    margin-right: 0.5rem;
  }
}

nav form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 900px) {
  nav form {
    z-index: 2;
  }
  nav form.full-search {
    width: calc(95% - 45px);
  }
}

nav form:hover path {
  stroke: #818181;
}

nav form:focus-within {
  border-bottom: 2px solid #818181;
}

nav form input {
  border: none;
  width: 11rem;
  padding-right: 1rem;
  font-size: 0.9rem;
  background: #f5f5f5;
  color: #474747;
  border-bottom: 1px solid #c2c2c2;
}

@media (max-width: 900px) {
  nav form input {
    width: 100%;
    padding: 0 1rem;
  }
}

nav form button {
  border: none;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  background: #f5f5f5;
  border-bottom: 1px solid #c2c2c2;
}

nav form button svg {
  width: 1.3rem;
  height: 1.3rem;
}

nav form button svg g {
  scale: 1.4;
}

nav form button svg g path {
  stroke: #c2c2c2;
  stroke-width: 1.8;
  fill: none;
  stroke-linecap: square;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.content {
  margin: 0 var(--site-margin);
}

.content .thumbnail-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
}

@media (max-width: 1200px) {
  .content .thumbnail-container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .content .thumbnail-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media (max-width: 600px) {
  .content .thumbnail-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 2rem;
  }
}

.content .recipe-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 2fr;
      grid-template-columns: 1fr 1fr 2fr;
}

@media (max-width: 1200px) {
  .content .recipe-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

.content .recipe-container .details {
  padding-right: var(--site-margin-half);
  padding-bottom: 2rem;
  border-right: 1px solid #c2c2c2;
}

@media (max-width: 1200px) {
  .content .recipe-container .details {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    padding-right: var(--site-margin-half);
    padding-bottom: 0;
  }
}

@media (max-width: 600px) {
  .content .recipe-container .details {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    border-right: none;
    padding-right: 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid #c2c2c2;
  }
}

@media (max-width: 1200px) {
  .content .recipe-container .ingredients-container,
  .content .recipe-container .instructions-container {
    padding-top: 2rem;
  }
}

@media (max-width: 900px) {
  .content .recipe-container .ingredients-container,
  .content .recipe-container .instructions-container {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

.content .recipe-container .ingredients-container {
  padding-left: var(--site-margin-half);
  padding-right: var(--site-margin-half);
}

@media (max-width: 1200px) {
  .content .recipe-container .ingredients-container {
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
}

@media (max-width: 600px) {
  .content .recipe-container .ingredients-container {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    padding: 1rem 0;
  }
}

.content .recipe-container .instructions-container {
  padding-left: var(--site-margin-half);
}

@media (max-width: 1200px) {
  .content .recipe-container .instructions-container {
    padding: 2rem 0;
    margin-top: 2rem;
    border-top: 1px solid #c2c2c2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

@media (max-width: 600px) {
  .content .recipe-container .instructions-container {
    margin-top: 0;
    padding: 1rem 0;
  }
}

.filter-container .filter-top {
  padding: 0 var(--site-margin);
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #c2c2c2;
  letter-spacing: 0.5px;
}

@media (max-width: 900px) {
  .filter-container .filter-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 4rem;
  }
}

.filter-container .filter-top button {
  font-size: 0.8rem;
  border: none;
  letter-spacing: 0.25px;
}

.filter-container .filter-top .filter-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.8rem;
}

@media (max-width: 900px) {
  .filter-container .filter-top .filter-categories {
    width: 100%;
    border-bottom: 1px solid #c2c2c2;
    padding: 0.5rem 0;
  }
}

.filter-container .filter-top .filter-categories > p {
  color: #818181;
  line-height: 18px;
  margin-right: 1rem;
  padding-right: 1rem;
  border-right: 1px solid #c2c2c2;
}

@media (max-width: 600px) {
  .filter-container .filter-top .filter-categories > p {
    font-size: 0.8rem;
  }
}

.filter-container .filter-top .filter-categories .filter-buttons button {
  margin-right: 1rem;
}

.filter-container .filter-top .filter-applied {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 900px) {
  .filter-container .filter-top .filter-applied {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.filter-container .filter-top .filter-applied button:first-of-type {
  color: #2187ff;
}

.filter-container .filter-top .filter-applied button:first-of-type:hover {
  color: #818181;
}

.filter-container .filter-top .filter-applied button {
  margin-left: 1rem;
}

.filter-container .filter-top .filter-applied .applied-filter-btn {
  position: relative;
  color: #818181;
}

.filter-container .filter-top .filter-applied .applied-filter-btn span {
  display: inline-block;
  position: relative;
  height: 10px;
  width: 10px;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.filter-container .filter-top .filter-applied .applied-filter-btn span::before, .filter-container .filter-top .filter-applied .applied-filter-btn span::after {
  content: '';
  height: 10px;
  width: 1px;
  background-color: #818181;
  position: absolute;
  right: 50%;
}

.filter-container .filter-top .filter-applied .applied-filter-btn span::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.filter-container .filter-top .filter-applied .applied-filter-btn span::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.filter-container .filter-top .filter-applied .applied-filter-btn:hover {
  color: #c2c2c2;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.filter-container .filter-top .filter-applied .applied-filter-btn:hover span {
  -webkit-transform: translate(1px, 1px) rotate(90deg);
          transform: translate(1px, 1px) rotate(90deg);
}

.filter-container .filter-top .filter-applied .applied-filter-btn:hover span::before, .filter-container .filter-top .filter-applied .applied-filter-btn:hover span::after {
  background-color: #c2c2c2;
}

.filter-container .filter-bottom {
  margin: 2rem var(--site-margin) 0 var(--site-margin);
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.filter-container .filter-bottom p {
  font-size: 0.8rem;
  color: #474747;
  margin-bottom: 0.5rem;
}

.filter-container .filter-bottom button {
  border: 1px solid #818181;
  border-radius: 20px;
  padding: 0.25rem 0.75rem;
  color: #474747;
  margin: 0.25rem;
}

.filter-container .filter-bottom button:hover {
  border-color: #c2c2c2;
  color: #c2c2c2;
}

.content h1.h1-index {
  text-align: center;
  padding: 4rem 0 2rem 0;
}

.content article .img-zoom img {
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.content article .img-zoom img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.content article p {
  color: #818181;
  font-size: 0.8rem;
  margin: 0.25rem 0 0.25rem 0;
}

.content .sub-recipe-title {
  display: block;
  margin-top: 2rem;
  color: #818181;
  font-size: 0.8rem;
}

.content h1.recipe-title {
  padding-bottom: 1rem;
}

@media (max-width: 1200px) {
  .content .details {
    border-right: none;
  }
}

.content .recipe-container h2 {
  margin-bottom: 0.5rem;
}

.content .recipe-container ol,
.content .recipe-container ul {
  margin-bottom: 0.5rem;
}

.content .recipe-container ol li,
.content .recipe-container ul li {
  margin: 0.25rem 0;
}

.content .recipe-container p,
.content .recipe-container li,
.content .recipe-container input,
.content .recipe-container span,
.content .recipe-container td {
  font-size: 0.9rem;
  font-weight: 400;
}

.details .fact:first-of-type {
  margin-top: 0;
}

.details .fact {
  margin: 1rem 0;
}

.details .fact .fact-title {
  color: #474747;
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
}

.details .fact a {
  -webkit-text-decoration: underline #818181;
          text-decoration: underline #818181;
}

.fact span {
  position: relative;
  right: 7.5rem;
}

.fact table th {
  color: #474747;
  font-size: 0.8rem;
  font-weight: 400;
  padding-right: 2.5rem;
}

.fact table td:first-of-type {
  text-align: left;
}

.fact input {
  background: #f5f5f5;
  outline: none;
  border: 1px solid #c2c2c2;
  padding: 0.25rem 0.1rem 0.25rem 0.5rem;
  width: 9rem;
  margin: 0;
}

.fact input:focus {
  border-color: #818181;
}

.fact #nutrition-input:hover {
  -webkit-appearance: number-input;
     -moz-appearance: number-input;
          appearance: number-input;
}

.ingredients-container ul {
  list-style: none;
  padding-left: 1.3rem;
}

.ingredients-container ul li {
  position: relative;
}

.ingredients-container ul li::before {
  content: '\2610';
  position: absolute;
  left: -1.3rem;
}

.ingredients-container ul li.complete::before {
  content: '\2611';
}

.ingredients-container ul li em {
  color: #818181;
  font-style: normal;
}

@media (max-width: 1200px) {
  .instructions-container ol {
    padding-left: 1.2rem;
  }
}

.instructions-container ul {
  list-style-type: '-  ';
}
